<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEMO - ngImgMap</title>
    <link rel="stylesheet" href="compile/ng-img-map.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.28/angular.min.js"></script>
    <script src="source/ng-img-map.js"></script>
    <script src="index.js"></script>
    <script src="node_modules/ngtouch/build/ngTouch.min.js"></script>

</head>

<body ng-app="ngImgMapDemo" ng-controller="DemoCtrl" style="min-width:1200px;">

<div style="float:right;width:600px;padding:20px;">
    <div>Live Data</div>
    <pre>{{imgJson}}</pre>
</div>

<div style="min-width:600px;padding:30px 600px 0 0;">
    <div ng-img-map ng-img-map-fns="mapFns" ng-model="img"></div>

    <div style="width:400px;margin:auto;">
        <button ng-click="addArea(img)" style="margin-top: 20px;">add area</button>
        <dl>
            <dt>custom attr in data, such as 'description'</dt>
            <dd ng-repeat="m in img.maps" style="margin: 5px 0;">
                area {{$index+1}}:
                <input type="text" ng-model="m.description" ng-focus="catchArea(m)" ng-blur="releaseArea(m)"/>
                <input type="text" ng-model="m.link_url" ng-focus="catchArea(m)" ng-blur="releaseArea(m)"/>
            </dd>
        </dl>
    </div>

    <div ng-img-map ng-img-map-fns="mapFnsLowerRatio" read-only="true" ng-model="img"></div>

    <div style="text-align:center;margin-top:50px;">
        <div>
            <img ng-src="{{img.pic_url}}" usemap="#ImgExam">
            <map name="ImgExam">
                <area style="outline: red solid 2px;"
                      shape="rect" coords="{{area.coords.join()}}"
                      ng-repeat="area in img.maps"
                      ng-href="{{area.link_url || 'javascript:void(0)'}}"
                      title="{{area.description}}"
                      target="_blank"></area>
            </map>
        </div>
    </div>

</div>
</body>

</html>